 *
 {
  font-family: arial;
 }
 

 body
 {
 margin: 0;
 }
 
.page
{
  /*Do not change this value*/
  min-height: 100%;
  width: 100%;
  /*Do not change this value*/
  margin: 0;
}

 .page .content
 {
  margin: 0;
  padding: 0;

}
 
.page1
{
  background-color: rgb(46, 204, 113);
}

.page2
{
  background-color: rgb(41, 128, 185);
}

.page3
{
  background-color: rgb(155, 89, 182);
}
 
.page4
{
  background-color: goldenrod;
}
 
.page5
{
  background-color: royalblue;
}

.page6
{
  background-color: red;
}
 