<<<<<<< HEAD
* {
  box-sizing: border-box;
}

.container {
	position: relative;

}

nav {
   position: absolute;
   right: 0;
   width: 50%;
   z-index: 2000;
   border: 2px solid black;

}

nav ul li {
   display: inline;
   float: right;
   width: 15%;
   text-align: left;
   text-decoration: none;
   border: 2px solid red;

}

nav ul {
	list-style: none;

}
=======
 *
 {
  font-family: arial;
 }
 

 body
 {
 margin: 0;
 }
 
.page
{
  /*Do not change this value*/
  min-height: 100%;
  width: 100%;
  /*Do not change this value*/
  margin: 0;
}

 .page .content
 {
  margin: 0;
  padding: 0;

}
 
.page1
{
  background-color: rgb(46, 204, 113);
}

.page2
{
  background-color: rgb(41, 128, 185);
}

.page3
{
  background-color: rgb(155, 89, 182);
}
 
.page4
{
  background-color: goldenrod;
}
 
.page5
{
  background-color: royalblue;
}

.page6
{
  background-color: red;
}
 
>>>>>>> fb62e3b60ea8c03a898ab62d79a2596a39247729
